/* login page */
form {
    margin: auto;
    margin-top: 4rem;
}
.login-wrap {
    margin: auto;
    width:100%;
	max-width:525px;
	min-height:630px;
    position:relative;
}
.login-html {
    width:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
    border: 1px solid rgba(75, 85, 75);
    
    -webkit-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    -moz-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
}
.login-html .sign-in-htm {
    top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up {
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color: var(--link);
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
    -webkit-text-security:circle;
    text-security:circle;
}
.login-form .group .label{
    color:#aaa;
    text-align: left;
	font-size: 12px;
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .button{
	background: var(--link);
}
.login-form .group .button:hover{
    background: var(--linkHover);
	cursor: pointer;
}
.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}

/* create post */
#description {
    border-radius: 0;
    height: 20vh;
}
#theme{
    border-radius: 0;
}

.selector,
.categories,
.categories-btn {
    padding: 1rem;
}
.categories {
    display: flex;
    flex-direction: row;
}
.cat {
    margin: auto;
}

/* custom number input */
input[type=number],
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

/* custom radio button */
input[type=radio] {
	position: absolute;
	visibility: hidden;
}

input[type=radio] + label {
    margin-left: 1rem;
	cursor: pointer; 
	font-weight: 400;
}

.options {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.radiobox {
    display: flex;
    flex-direction: row-reverse;
}

.radiobox:nth-child(2) {
    margin-left: auto;
}

.check {
	width: 30px; height: 30px;
	border-radius: 50%;
	transition: transform .6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

input#one ~ .check { 
	transform: translateX(0px); 
	background: #B2D7F5; 
}
input#two ~ .check { 
	transform: translateX(-270px);
	background: #2196F3;
	box-shadow: 0 6px 12px rgba(33, 150, 243, 0.35);
}

input#one:checked ~ .check { transform: translateX(270px); }

input#two:checked ~ .check { transform: translateX(0px); }

@media all and (max-width: 700px) {
    form {
        margin: auto;
        width: 100%;
    }
    form, .login-wrap {
        min-height: 0;
    }
    .login-html {
        padding: 10px 10px 0px 10px;
    }
    .options {
        flex-direction: column;
    }
    .radiobox {
        flex-direction: row;
    }
    .radiobox:nth-child(2) {
        margin-left: 0;
    }
    .check {
        margin-left: auto;
    }
    .selector {
        padding: 0.5rem 0rem;
    }
    .hr {
        margin: 30px 0 40px 0;
    }
    input#one ~ .check { transform: translateY(0px); }
    input#two ~ .check { transform: translateY(-30px); }
    input#one:checked ~ .check { transform: translateY(30px); }
    input#two:checked ~ .check { transform: translateY(0px); }


}