:root {
    --nav-width: 200px;
    --postBg: #1F1F1F;
    --textColor: #CDCDD3;
    --link: #9AA777;
    --linkHover: rgb(189, 206, 141);
    --button-color: #1476ff
}

html {
    background-color: #1f1f1f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: var(--textColor);
}

#app {
    text-align: center;
    line-height: 1.5;
    padding: 1rem;
}

textarea {
    resize: none;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a {
    color: var(--textColor);
}

#allPosts {
    margin: auto;
    margin-bottom: 5rem;
    width: 60vw;
    border: 1px solid rgba(75, 85, 75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    -moz-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
}

.post {
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    overflow-wrap: break-word;
    overflow: hidden;
    display: block;
    padding: 0rem 5rem 1rem 5rem;
}

.postTitle {
    padding: 1em 0;
    font-size: xx-large;
    height: 1em;
    line-height: 1em;
    overflow: hidden;
}

.postTitle a {
    font-weight: 800;
    color: var(--link);
}

.postTitle a:hover {
    color: var(--linkHover);
}

.postDescription {
    max-height: 9em;
    margin: 1rem 0rem;
    overflow: hidden;
    font-size: large;
    border: 1px solid rgba(75, 85, 75);
    border-radius: 5px;
    white-space: pre-line;
    padding: 1rem 1rem 3rem 1rem;
    /* -webkit-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65) inset;
    -moz-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65) inset;
    box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65) inset; */
}

.dateNAuthor {
    font-size: small;
    display: flex;
}

.postAuthor {
    margin-left: auto;
}

.postTags {
    font-size: small;
    text-align: left;
}

.postLikes {
    font-size: 14px;
    text-align: left;
    margin-top: 1rem;
}


/* rate buttons */

i {
    cursor: pointer;
    padding: 8px 14px 8px;
    border-radius: 5px;
    display: inline-block;
    color: #aaa;
    transition: .2s;
}

i:hover {
    color: #666;
}

i:before {
    font-style: normal;
    margin-right: 10px;
}

i.press {
    color: #e23b3b;
}

i.press:hover {
    color: #af2c2c;
}


/* https://codepen.io/khadkamhn/pen/ZGvPLo */

@keyframes fade {
    0% {
        color: transparent;
    }
    50% {
        color: #e23b3b;
    }
    100% {
        color: transparent;
    }
}


/* hr vertical break for posts */

.postBreaker {
    width: 60%;
    background-color: white;
    height: 1px;
    margin: auto;
    opacity: 0.5;
}

.postBreaker:nth-last-child(1) {
    display: none;
}


/* nav */

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eee;
    font-weight: 500;
}

.nav__link:hover {
    background: #889b88;
}

.hide .nav__link:hover {
    background: #1f1f1f;
    color: #1f1f1f !important;
}

nav, .chat-opened-full {
    transition: background-color 1s ease;
    background: #363A37;
    padding: 0 10px;
}

a {
    color: white;
    text-decoration: none;
}

.menu {
    list-style-type: none;
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.item {
    padding: 10px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}


/* Mobile menu */

@media all and (max-width: 700px) {
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    #app {
        padding: 0;
        font-size: 12px !important;
    }
    #app>h1 {
        margin-top: 1rem;
    }
    #allPosts {
        width: 100vw;
    }
    #allPosts .post {
        padding: 0rem 1rem;
    }
    #allPosts .postTitle {
        font-size: 18px;
        line-height: 0;
    }
    #allPosts .postDescription {
        font-size: 16px;
    }
    #allPosts .dateNAuthor,
    #allPosts .postTags {
        font-size: 12px;
    }
    .postDate {
        text-align: left;
    }
    .postAuthor {
        text-align: right;
    }
    .postTags {
        margin-top: 0.5rem;
    }
    .menu li a {
        display: block;
        padding: 15px 5px;
    }
    .toggle {
        order: 1;
        font-size: 20px;
    }
    .item.button {
        order: 2;
    }
    .item {
        order: 3;
        width: 100%;
        text-align: center;
        display: none;
    }
    .active .item {
        display: block;
    }
    .button.secondary {
        border-bottom: 1px #444 solid;
    }
}


/* Tablet menu */

@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        order: 1;
        display: block;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
}

/* Desktop menu */

@media all and (min-width: 960px) {
    nav {
        position: fixed;
        top: 0;
        width: 200px;
        height: 100vh;
        border-right: 2px solid #3F3F3F;
        -webkit-box-shadow: 0px 2px 3px 0px #535f53;
        -moz-box-shadow: 0px 2px 3px 0px #535f53;
        box-shadow: 0px 2px 3px 0px #535f53;
    }
    .chat-opened-full {
        left: 0;
    }
    #app {
        margin-left: 200px;
    }
    #app>h1 {
        margin-top: 4rem;
    }
    .menu {
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
        flex-direction: column;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: 100%;
        text-align: left;
    }
    .button {
        order: 2;
    }
    .button.secondary {
        border-bottom: none;
    }
    .toggle+.item {
        border-top: 1px #444 solid;
    }
    .hide .toggle+.item {
        border: none;
    }
    .toggle {
        display: none;
    }
}


/* move top button */

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: #444;
    color: var(--textColor);
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    opacity: 0;
    transition: opacity 1s, scale 1s;
    border-radius: 100%;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

#back2Top:hover {
    background-color: #363A37;
    color: #eee;
    border: 1px solid rgba(75, 85, 75);
    scale: 1.1;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    -moz-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
}

#back2Top.show {
    cursor: pointer;
    opacity: 1;
}


/* single post page */

.sp .postTitle {
    height: auto;
}

.sp .post {
    margin: auto;
    width: 60vw;
}

.sp .postDescription {
    min-height: 40vh;
    max-height: auto;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65) inset;
    -moz-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65) inset;
    box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65) inset;
}

.sp .allComments {
    margin: auto;
    margin-bottom: 5rem;
    border: 1px solid rgba(75, 85, 75);
    border-radius: 5px;
    white-space: pre-line;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    -moz-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
}

.sp .commentDescription div:nth-child(1) {
    padding: 1em 0;
    line-height: 1em;
    text-align: left;
    margin-left: 2rem;
    margin-top: 2rem;
}

.sp .commentLikes {
    font-size: 14px;
    text-align: left;
    margin-top: 1rem;
    display: flex;
    margin-left: 2rem;
}

.sp .commentBottom {
    display: flex;
    flex-direction: row;
}

.sp .commentBottom form {
    padding: 1em 0;
    line-height: 1em;
    margin-left: auto;
    margin-top: 2rem;
    margin-right: 2rem;
}

.sp .commentBottom input {
    background: var(--link);
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    width: 100%;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
}

.commentAddForm textarea {
    border-radius: 0;
    height: 20vh;
    border: none;
    padding: 15px 20px;
    background: rgba(255, 255, 255, .1);
    width: 100%;
    color: #fff;
    display: block;
}

.commentAdd {
    background: var(--link);
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    width: 50%;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    margin: auto;
    margin-top: 1rem;
}

.sp .post input:hover {
    background: var(--linkHover);
    cursor: pointer;
}

/* chat menu */
.hide {
    background-color: #1f1f1f;
    color: #1f1f1f;
    border-right: 0px solid #3f3f3f;
    box-shadow: none;
}

#chat-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    width: 25px;
    height: 25px;
    font-size: 18px;
    text-align: center;
}

.hide * {
    color: #1f1f1f ;
}

#chat_container + div {
    position: fixed;
    left: 0;
    top: 0;

    border-right: 2px solid #3f3f3f;
    -webkit-box-shadow: 0px 2px 3px 0px #535f53;
    -moz-box-shadow: 0px 2px 3px 0px #535f53;
    box-shadow: 0px 2px 3px 0px #535f53;
    background: rgba(255, 255, 255, .1);
    padding: 1rem;
    
    width: 200px;
    height: 100vh;

    z-index: 99999;
    transition: width 1s ease, height 1s ease, box-shadow 0.5s ease 1s, border 0.5s ease 1s;
}

.hide li {
    color: #ffffff !important;
}

#chat_container + div.hider {
    width: 0;
    height: 0;
    padding: 0;
    -webkit-box-shadow: 0px 2px 3px 0px #535f53;
    -moz-box-shadow: 0px 2px 3px 0px #535f53;
    box-shadow: 0px 0px 0px 0px #535f53;
    border-right: 0px solid #3f3f3f;
}

.hider li {
    display: none;
}

/* .hide {
    display: none;
    background-color: black !important;
} */


#userslist {
    list-style: none;
    border: #fff;
}

#userslist li {
    margin-left: 10%;
    padding-bottom: 5%;
}

.unreadMsg::after {
    content: "";
    background-color: red;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    right: 0;
    top: 50%;
    margin-top: -10px;
}

.onlineUserBtn.unreadMsg::after {
    left: 0;
    top: inherit;
    margin-top: 0;
}

.onlineUserBtn:nth-child(0) {
    margin-top: 18px;
}

.onlineUserBtn {
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

/* chat messages */

#log {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    background-color: var(--postBg);
    height: 400px;
    overflow-y: scroll;
    padding: 5px;
    word-break: break-all;
}

#log span {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: rgba(31, 31, 31, 0.6);
    float: right;
    text-align: right;
    font-size: 8px;
}

#chatSender {
    display: flex;
    background-color: var(--postBg);
}

#msg {
    overflow-y: scroll;
    background-color: transparent;
    margin: 8px;
    border: none;
    color: var(--textColor);
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 0;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    -moz-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
}

#form {
    cursor: pointer;
    background-image: url('../assets/send.png');
    width: 40px;
    height: 26px;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    margin: auto 10px auto;
}

.myMsg {
    color: var(--postBg);
    float: left;
    text-align: left;
    background-color: #eee;
    margin: 3px 2px;
    padding: 3px 6px;
    border-radius: 5px;
    width: 70%;
}

.notMyMsg {
    color: var(--postBg);
    float: right;
    background-color: var(--link);
    margin: 3px 2px;
    padding: 3px 6px;
    border-radius: 5px;
    width: 70%;
}

/* alert box */

.msgbox-area {
    max-height: 100%;
    position: fixed;
    bottom: 15px;
    left: 20px;
    right: 20px;
}
.msgbox-area .msgbox-box {
    font-size: inherit;
    color: #ffffff;
    background-color: rgba(#000000, 0.8);
    padding: 18px 20px;
    margin: 0 0 15px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(#000000, 0.65);
    transition: opacity 300ms ease-in;
}
.msgbox-area .msgbox-content {
    flex-shrink: 1;
}
.msgbox-area .msgbox-close {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    margin: 0 0 0 20px;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    transition: text-shadow 225ms ease-out;
}
.msgbox-area .msgbox-box-hide {
    opacity: 0;
}
.msgbox-area .msgbox-content:hover {
    text-shadow: 0 0 3px #efefef;
}

@media (min-width: 481px) and (max-width: 767px) {
    .msgbox-area {
        left: 80px;
        right: 80px;
    }
}

@media (min-width: 768px) {
    .msgbox-area {
        width: 480px;
        height: 0;
        top: 15px;
        left: auto;
        right: 15px;
    }
}

.msgbox-area {
    font-size: 16px;
}
