body {
    margin: 0;
    padding: 0;
    outline: 0;
    background-color: #292828;
}

p,
h3 {
    color: #CDCDD3;
}

a,
a:link,
a:visited {
    color: #CDCDD3;
    text-decoration: none;
    position: relative;
}

a,
a:link:hover,
a:visited:hover {
    color: #DFDFDA;
    text-decoration: none;
}

.auth a:after {
    border-radius: 1em;
    border-top: .1em solid #CDCDD3;
    content: "";
    position: absolute;
    right: 100%;
    bottom: -.14em;
    left: 0;
    transition: right .8s cubic-bezier(0, .5, 0, 1);
}

.auth a:hover:after {
    right: 0;
    border-top: .1em solid #DFDFDA;
}

textarea {
    resize: none;
}


/* header */

#header {
    height: 100px;
    background-color: #363A37;
    -webkit-box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.65);
}

#headerTitle {
    position: absolute;
    font-size: 48px;
    margin-left: 20%;
    top: 20px;
}

.auth {
    position: absolute;
    top: 20px;
    right: 10px;
}


/* filter */

#right {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

form input {
    padding-top: 7px;
    padding-bottom: 7px;
}

select,
button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button,
input,
a.button {
    padding: 10px 20px;
    background-color: #9AA777;
    border-radius: 5px;
    text-align: center;
    border: none;
    color: #363A37;
    cursor: pointer;
}

a {
    margin-top: 0.5rem;
}

button:hover,
input:hover,
a.button:hover {
    background-color: #a1b866;
    color: black;
    -webkit-box-shadow: -5px 5px 3px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: -5px 5px 3px 0px rgba(0, 0, 0, 0.65);
    box-shadow: -5px 5px 3px 0px rgba(0, 0, 0, 0.65);
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}


/* posts */

.tagPost p {
    font-size: 26px;
    text-align: center;
}

.Posts {
    background-color: #1F1F1F;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-height: 600px;
    padding: 20px;
    padding-top: 1rem;
    border-radius: 20px;
    border: 1px solid rgba(75, 85, 75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    -moz-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
}

.post {
    /* max-height: 100vh; */
    overflow-wrap: break-word;
    overflow: hidden;
    background-color: #363A37;
    display: block;
    border: 5px solid #3F3F3F;
    border-radius: 5px;
    margin-top: 40px;
    padding: 0rem 1rem 1rem 1rem;
    color: #CDCDD3;
}


/* .postTitle a {
    margin-top: 0;
    padding-top: 0;
} */

.postTitle h1 {
    margin-top: 12px;
    /* padding-top: 0; */
}

.Posts button {
    font-size: small;
}

.Posts button:nth-last-child(1) {
    margin-left: 0.5rem;
}

.postTitle {
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: center;
    max-height: 20vh;
}

.postDescription,
.commentDescription {
    height: 40vh;
    margin: 1rem 0rem;
    overflow: hidden;
    background-color: #1F1F1F;
    font-size: large;
    border: 1px solid rgba(75, 85, 75);
    border-radius: 5px;
    padding: 1rem 1rem;
    white-space: pre-line;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65) inset;
    -moz-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65) inset;
    box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65) inset;
}

.dateNAuthor {
    font-size: small;
    display: flex;
    flex-direction: row;
}

.postAuthor {
    margin-left: auto;
}

.postTags {
    font-size: small;
}

.likeBtnHover {
    position: relative;
    width: 60px;
    height: 33px;
    /* background-color: rebeccapurple; */
    margin-top: -41px;
    border: 1px solid red;
    border-radius: 2px;
}

.commentBottom {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.deleteComment {
    margin-top: auto;
    margin-bottom: auto;
}

.commentAddForm {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.commentText {
    border: none;
    background-color: #1F1F1F;
    color: #CDCDD3;
    width: 100%;
    height: 20vh;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.commentText:hover {
    background-color: #1F1F1F;
    color: #CDCDD3;
    box-shadow: none;
    cursor: text;
}

.commentText:focus {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    -moz-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    border: 1px solid rgba(75, 85, 75);
}

.commentAdd {
    margin-top: 1rem;
}


/* online users */

#left {
    background-color: #1F1F1F;
    border: 1px solid rgba(75, 85, 75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    -moz-box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    box-shadow: 0px 0px 10px 0px rgba(75, 85, 75, 0.65);
    width: 10%;
}

/* Sign Up Block */

#signUpBlock {
    position: fixed;
    top: 25vh;
    left: 33vw;
    width: 33%;
    height: 50%;
    background-color: #1f1f1f;
    border: 5px solid #3F3F3F;
    z-index: 999;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#registrationForm {
    
}

#LogInBlock {
    position: fixed;
    top: 25vh;
    left: 33vw;
    width: 33%;
    height: 50%;
    background-color: #1f1f1f;
    border: 5px solid #3F3F3F;
    z-index: 999;
}


/* container */

@media screen and (max-width: 768px) {
    #container {
        max-width: 95%;
        display: flex;
        flex-direction: column;
    }
    .Posts {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    #container {
        max-width: 95%;
        display: flex;
        flex-direction: row-reverse;
    }
    .postTitle {
        max-height: 13vh;
    }
}

@media screen and (max-width: 420px) {
    .header p {
        margin-left: 15%;
    }
}